@model EntityLayer.Concrete.Heading 
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Yeni Başlık Ekle</h2>

@using (Html.BeginForm("AddHeading", "Heading" , FormMethod.Post))
            {
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />

        @Html.Label("Kategori Adı Seçiniz")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categoryvalues, new { @class = "form-control" })
        @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryId)*@
        <br />
        @Html.Label("Yazar Adı Seçiniz")
        @Html.DropDownListFor(x=>x.WriterId , (List<SelectListItem>)ViewBag.writervalues, new {@class="form-control"})
        @*@Html.TextBoxFor(x => x.WriterId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterId)*@

        <br />
        <button class="btn btn-outline-danger">Başlık Oluştur</button>
    </div>

            }